<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>
  <body>
    <pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/all/">All</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/matic/">MATIC</a> - <a href="<%= PP %>/xdai/">xDAI</a> - <a href="<%= PP %>/avax/">AVAX</a> - <a href="<%= PP %>/fantom/">FANTOM</a> - <a href="<%= PP %>/harmony/">HARMONY</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<div>
<a href="https://www.youtube.com/watch?v=D8RZhK1zcs0" target="_blank">Youtube tutorial!</a> by the excellent <a href="https://twitter.com/gabrielhaines" target="_blank">Gabriel Haines</a>
</div>

---Pool Provider---     --------LP--------          --Reward Tokens--    --Price--              --INFO--
     1inch               <a href="1inch/"             >Various</a>                     1INCH              <span id="price-of-1inch"></span>   https://1inch.exchange/#/dao/farming
     Alchemix            <a href="alcx/"              >Various</a>                     ALCX               <span id="price-of-alchemix"></span>   https://app.alchemix.fi/farms
     Alpha DEX           <a href="alphadex/"          >Various</a>                     DEX                <span id="price-of-alphadex"></span>   https://kitten.finance
     Armor               <a href="armor/"             >Various</a>                     ARMOR              <span id="price-of-armor"></span>   https://armor.fi
     Badger              <a href="badger/"            >Various</a>                     BADGER             <span id="price-of-badger-dao"></span>   https://app.badger.finance
     Bao                 <a href="bao"                >Various</a>                     BAO                <span id="price-of-bao-finance"></span>   https://www.bao.finance
     Basis               <a href="basis/"             >Various</a>                     BAS,BAC            <span id="price-of-basis-cash"></span>   https://basis.cash
     Benchmark           <a href="benchmark/"         >Various</a>                     MARK               <span id="price-of-benchmark-protocol"></span>   https://launchpad.benchmarkprotocol.finance/pools
     Bella Protocol      <a href="bella/"             >Various</a>                     BEL                <span id="price-of-bella-protocol"></span>   https://bella.fi
     Big Data Protocol   <a href="bdp/"               >Various</a>                     BDP,bALPHA         <span id="price-of-big-data-protocol"></span>   https://www.bigdataprotocol.com/datavault
     Cover Protocol      <a href="cover/"             >Various</a>                     Various            <span id="price-of-cover-protocol"></span>   https://app.coverprotocol.com
     DFX                 <a href="dfx/"               >Various</a>                     DFX                <span id="price-of-dfx-finance"></span>   https://v0.dfx.finance/
     Dynamic Set Dollar  <a href="dsd/"               >Various</a>                     DSD                <span id="price-of-dynamic-set-dollar"></span>   https://dsd.finance/app
     Empty Set Dollar    <a href="esd/"               >Various</a>                     ESD                <span id="price-of-empty-set-dollar"></span>   https://app.emptyset.finance/
     Float               <a href="float/"             >Various</a>                     BANK               <span id="price-of-float-protocol"></span>   https://floatprotocol.com/#/stake
     Force DAO           <a href="forcedao/"          >Various</a>                     FORCE              <span id="price-of-force-dao"></span>   https://forcedao.com/
     Frax Finance        <a href="frax/"              >Various</a>                     FXS                <span id="price-of-frax-share"></span>   https://app.frax.finance/
     Harvest Finance     <a href="harvest-finance/"   >Various</a>                     FARM               <span id="price-of-harvest-finance"></span>   https://harvest.finance
     Ichi                <a href="ichi/"              >Various</a>                     Ichi               <span id="cmc-price-of-ichi"></span>   https://ichi.farm
     Inverse             <a href="inverse/"           >Various</a>                     INV                <span id="price-of-inverse-finance"></span>   https://inverse.finance/stake
     * Keep *            <a href="keep"               >Various</a>                     KEEP               <span id="price-of-keep-network"></span>   https://dashboard.keep.network/liquidity
     Launchpool          <a href="lpool/"             >Various</a>                     LPOOL              <span id="price-of-launchpool"></span>   https://staking.launchpool.xyz/
     MITH Cash           <a href="mithcash/"          >Various</a>                     MIS,MIC            <span id="price-of-mith-cash"></span>   https://mith.cash
     Optionroom          <a href="optionroom"         >Various</a>                     COURT              <span id="price-of-option-room"></span>   https://app.optionroom.finance
     Pickle              <a href="pickle/"            >Various</a>                     Pickle             <span id="price-of-pickle-finance"></span>   https://pickle.finance/farms
     PowerIndex          <a href="powerindex/"        >Various</a>                     CVP                <span id="price-of-xxx"></span>   https://powerindex.io
     Ruler Protocol      <a href="ruler/"             >Various</a>                     RULER              <span id="price-of-ruler-protocol"></span>   https://app.rulerprotocol.com/app/farms
     Siren               <a href="siren/"             >Various</a>                     SI                 <span id="price-of-siren"></span>   https://sirenmarkets.com/
     Stabilize           <a href="stabilize/"         >Various</a>                     STBZ               <span id="price-of-stabilize"></span>   https://stabilize.finance
     StakeDAO            <a href="stakedao/"          >Various</a>                     SDT                <span id="price-of-stake-dao"></span>   https://stakedao.org
     Sushiswap           <a href="sushi/"             >Various</a>                     SUSHI              <span id="price-of-sushi"></span>   https://app.sushi.com/farms
     TrueFi              <a href="truefi/"            >Various</a>                     TRU                <span id="price-of-truefi"></span>   https://app.truefi.io/farm
     Typhoon Cash        <a href="typhoon/"           >Various</a>                     PHOON              <span id="price-of-typhoon-cash"></span>   https://typhoon.cash
     Unslashed           <a href="usf/"               >Various</a>                     USF                <span id="price-of-unslashed-finance"></span>   https://app.unslashed.finance/
     xSigma              <a href="xsigma/"            >Various</a>                     SIG                <span id="price-of-xsigma"></span>   https://app.xsigma.fi/stake
     xToken              <a href="xtoken/"            >Various</a>                     XTK                <span id="price-of-xtoken"></span>   https://xtoken.market
     Yam                 <a href="yam/"               >YAM-ETH SLP</a>                 YAM                <span id="price-of-yam"></span>   https://yam.finance/farm
     yAxis               <a href="yaxis/"             >Various</a>                     yAxis              <span id="price-of-yaxis"></span>   https://yaxis.io/farms
*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
    <%- include(`${partials}/scripts`, {scriptname: 'price-by-id'}); %>
  </body>
</html>
