<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>
  <body>
    <pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/all/">All</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/matic/">MATIC</a> - <a href="<%= PP %>/xdai/">xDAI</a> - <a href="<%= PP %>/avax/">AVAX</a> - <a href="<%= PP %>/fantom/">FANTOM</a> - <a href="<%= PP %>/harmony/">HARMONY</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<div>
<a href="https://www.youtube.com/watch?v=D8RZhK1zcs0" target="_blank">Youtube tutorial!</a> by the excellent <a href="https://twitter.com/gabrielhaines" target="_blank">Gabriel Haines</a>
</div>

************************ BINANCE SMART CHAIN *************************

---Pool Provider---     --------LP--------          --Reward Tokens--    --Price--              --INFO--
     Pancake              <a href="pancake"       >Various</a>                    CAKE                <span id="cmc-price-of-pancakeswap"></span>   https://pancakeswap.finance
     Apeswap              <a href="apeswap"       >Various</a>                    BANANA              <span id="price-of-banana-finance"></span>   https://apeswap.finance
     Autofarm             <a href="autofarm"      >Various</a>                    AUTOFARM            <span id="price-of-auto"></span>   https://autofarm.network
     Rake Finance         <a href="rake-finance"  >Various</a>                    RAK                 <span id="price-of-rake-finance"></span>   https://rake.finance
     Bake                 <a href="bake"          >Various</a>                    BAKE                <span id="price-of-bakerytoken"></span>   https://www.bakeryswap.org
     Brew                 <a href="brew"          >Various</a>                    BREW                <span id="price-of-cafeswap-token"></span>   https://cafeswap.finance
     Donut                <a href="donut"         >Various</a>                    DONUT               <span id="price-of-donut"></span>   https://donutdefi.com
     Pumpkin              <a href="pumpkin"       >Various</a>                    PUMP                <span id="price-of-pump-coin"></span>   https://pumpkindefi.org
     Ramen                <a href="ramen"         >Various</a>                    RAMENSWAP           <span id="price-of-ramenswap"></span>   https://ramenswap.finance
     Goose                <a href="goose"         >Various</a>                    GOOSE               <span id="price-of-goose-finance"></span>   https://www.goosedefi.com
     Salt                 <a href="salt"          >Various</a>                    SALT                <span id="price-of-saltswap"></span>   https://www.saltswap.finance
     Soup                 <a href="soup"          >Various</a>                    SOUP/SOUPS          <span id="price-of-soup"></span>   https://soups.finance
     Kebab                <a href="kebab"         >Various</a>                    KEBAB               <span id="price-of-kebab-token"></span>   https://kebabfinance.com
     Kimochi              <a href="kimochi"       >Various</a>                    KIMOCHI             <span id="price-of-kimochi-finance"></span>   https://kimochi.finance
     Viking               <a href="viking"        >Various</a>                    VIKING              <span id="price-of-viking-swap"></span>   https://www.vikingswap.finance
     Xoxo                 <a href="xoxo"          >Various</a>                    XOXO                <span id="price-of-xoxo"></span>   https://xoxo.finance
     Nyan                 <a href="nyan"          >Various</a>                    NYAN                <span id="price-of-yieldnyan-token"></span>   https://yieldnyan.com
     bDollar              <a href="bdo/"          >Various</a>                    BDO/sBDO/bBDO       <span id="price-of-bdollar"></span>   https://bdollar.fi
     Beluga               <a href="beluga/"       >Various</a>                    BELUGA              <span id="price-of-belugaswap"></span>   https://belugaprotocol.org
     BoltDollar           <a href="btd/"          >Various</a>                    BTD/BTS/BTB         <span id="price-of-bolt-true-share"></span>   https://boltdollar.finance
     Nya Cash             <a href="nya/"          >Various</a>                    NYAS/NYAC           <span id="price-of-nyas"></span>   https://nya.cash
     YieldScienceLabs     <a href="ysl/"          >Various</a>                    Various             <span id="price-of-yieldlab"></span>   https://yieldlab.science
     Icecream             <a href="icecream"      >Various</a>                    GLTO                <span id="price-of-icecream-swap"></span>   https://icecreamswap.finance
     Mochi                <a href="mochi"         >Various</a>                    MOCHI               <span id="price-of-mochiswap"></span>   https://pool.mochiswap.io
     Oat                  <a href="oat"           >Various</a>                    OAT                 <span id="price-of-oat"></span>   https://oatswap.org
     ValueDefi            <a href="valuedefi"     >Various</a>                    vBSWAP              <span id="price-of-vbswap"></span>   https://bsc.valuedefi.io/#/vfarm
     MonsterSlayer        <a href="msc"           >Various</a>                    MSS/MSC             <span id="price-of-monster-slayer-cash"></span>   https://monsterslayer.finance
     Kickstart            <a href="kickstart"     >Various</a>                    KICK                <span id="price-of-kickstart"></span>   https://kickstart.finance
     Boba                 <a href="boba"          >Various</a>                    BOBA                <span id="price-of-boba"></span>   https://bobadefi.com
     MidasDollar          <a href="midasdollar"   >Various</a>                    MDS/MDO             <span id="price-of-midas-dollar"></span>   https://midasdollar.fi
     Slime                <a href="slime"         >Various</a>                    SLIME               <span id="price-of-slime-finance"></span>   http://slime.finance
     Stakd                <a href="stakd"         >Various</a>                    STAKD               <span id="price-of-stakd-finance"></span>   https://app.stakd.finance
     Glacier              <a href="glacier"       >Various</a>                    ICE                 <span id="price-of-ice"></span>   https://glacierswap.org/farms/
     Alpaca               <a href="alpaca"        >Various</a>                    ALPACA              <span id="price-of-alpaca-finance"></span>   https://app.alpacafinance.org
     UFO Swap             <a href="ufo"           >Various</a>                    UFO                 <span id="price-of-ufo"></span>   https://ufodefi.com
     Mythic               <a href="mythic"        >Various</a>                    MAGIC               <span id="price-of-mythic"></span>   https://www.mythic.finance
     Wault                <a href="wault"         >Various</a>                    WAULT               <span id="price-of-wault-finance"></span>   https://app.wault.finance
     Wantanmee            <a href="wantanmee"     >Various</a>                    MEE/MES             <span id="price-of-xxx"></span>   https://wantanmee.finance
     Acryptos             <a href="acryptos"      >Various</a>                    ACS                 <span id="price-of-acryptos"></span>   https://app.acryptos.com
     Sashimi              <a href="sashimi"       >Various</a>                    SASHIMI             <span id="price-of-sashimi"></span>   https://bsc.sashimi.cool
     Beefy                <a href="beefy"         >Various</a>                    BIFI                <span id="price-of-beefy-finance"></span>   https://app.beefy.finance
     Toad Swap            <a href="toad"          >Various</a>                    TOAD                <span id="price-of-toad"></span>   https://toad.farm
     Nut                  <a href="nut"           >Various</a>                    NUT                 <span id="price-of-nutdefi"></span>   https://www.nutdefi.finance/
     Koala                <a href="koala"         >Various</a>                    LYPTUS              <span id="price-of-koaladefi"></span>   https://koaladefi.finance/
     Yoda                 <a href="yoda"          >Various</a>                    YODA                <span id="price-of-yodaswap"></span>   https://yodaswap.finance/
     Duck                 <a href="duck"          >Various</a>                    DUCK                <span id="price-of-duckswap"></span>   https://duckswap.finance/
     Taco                 <a href="taco"          >Various</a>                    TACO                <span id="price-of-taco-finance"></span>   https://taco.finance/
     Teddy                <a href="teddy"         >Various</a>                    TEDDY               <span id="price-of-teddy-bears"></span>   https://teddy.bears.finance/
     Gemz                 <a href="gemz"          >Various</a>                    GEMZ                <span id="price-of-gemz"></span>   https://www.gemz.finance/
     Pyramid              <a href="pyramid"       >Various</a>                    RA                  <span id="price-of-pyramid-swap"></span>   https://pyramidswap.com/
     Jalapenos            <a href="jalapeno"      >Various</a>                    JLP                 <span id="price-of-jalapenos"></span>   https://jalapenos.finance/
     Fed                  <a href="fed"           >Various</a>                    FED                 <span id="price-of-fedswap"></span>   https://fedswap.finance/
     Coral                <a href="coral"         >Various</a>                    CRL                 <span id="cmc-price-of-coralfarm"></span>   https://coralfarm.finance/
     Duck Money           <a href="duckmoney"     >Various</a>                    DUCK                <span id="price-of-duck-money"></span>   https://duck.money/
     Iron Finance         <a href="iron"          >Various</a>                    STEEL               <span id="price-of-steel"></span>   https://iron.finance
     BVaults              <a href="bvaults"       >Various</a>                    Various             <span id="price-of-xxx"></span>   https://bvaults.fi
     MidasGold            <a href="midasgold"     >Various</a>                    Various             <span id="price-of-midas-gold"></span>   https://midasgold.network
     Nerve                <a href="nerve"         >Various</a>                    NRV                 <span id="price-of-nerve-finance"></span>   https://nerve.fi
     Hyperjump            <a href="hyperjump"     >Various</a>                    ALLOY               <span id="cmc-price-of-hyper-alloy"></span>   https://farm.hyperjump.fi
     Berry                <a href="berry"         >Various</a>                    BRY                 <span id="price-of-berry-data"></span>   https://berrydata.co
     Belt                 <a href="belt"          >Various</a>                    BELT                <span id="price-of-belt"></span>   https://beta.belt.fi
     Julswap              <a href="julswap"       >Various</a>                    Various             <span id="price-of-julswap"></span>   https://julswap.com
     Blueswap             <a href="blueswap"      >Various</a>                    BLUE                <span id="price-of-blue-protocol"></span>   https://app.blueswap.finance
     Brickchain           <a href="brickchain"    >Various</a>                    BRICK               <span id="cmc-price-of-brickchain-finance"></span>   https://brickchain.finance
     Polaris              <a href="polaris"       >Various</a>                    POLAR               <span id="price-of-polaris"></span>   https://app.polarisdefi.io
     Fullsail             <a href="fullsail"      >Various</a>                    SAIL                <span id="price-of-xxx"></span>   https://fullsail.finance
     Wynaut               <a href="wynaut"        >Various</a>                    MEOWTH              <span id="price-of-meowth"></span>   https://wynautdefi.app
     Meme                 <a href="meme"          >Various</a>                    MFRM                <span id="price-of-xxx"></span>   https://memefarm.io
     Tsuki                <a href="tsuki"         >Various</a>                    TSUKI               <span id="price-of-tsuki-dao"></span>   https://tsuki.finance
     Kingdom              <a href="kingdom"       >Various</a>                    CROWN               <span id="price-of-xxx"></span>   https://kingdomswap.finance
     Deflate              <a href="deflate"       >Various</a>                    BLN                 <span id="price-of-xxx"></span>   https://deflate.finance
     Bender               <a href="bender"        >Various</a>                    BENDER              <span id="price-of-xxx"></span>   https://bender.finance
     Hyrule               <a href="hyrule"        >Various</a>                    RUPEE               <span id="cmc-price-of-hyruleswap"></span>   https://app.hyruleswap.com
     Jiggly               <a href="jiggly"        >Various</a>                    JIGG                <span id="price-of-jiggly-finance"></span>   https://www.jiggly.finance
     Meerkat              <a href="meerkat"       >Various</a>                    XKAT                <span id="price-of-xxx"></span>   https://xkat.vercel.app
     Friction             <a href="friction"      >Various</a>                    TAO                 <span id="cmc-price-of-friction-finance"></span>   https://friction.finance
     Complus              <a href="complus"       >Various</a>                    COM                 <span id="price-of-xxx"></span>   https://bsc.complus.exchange
     Jurassicfarm         <a href="jurassicfarm"  >Various</a>                    DINO                <span id="price-of-jurassic-farm"></span>   https://www.jurassicfarm.app
     Swamp                <a href="swamp"         >Various</a>                    SWAMP               <span id="price-of-swampy"></span>   https://swamp.finance
     Swipe                <a href="swipe"         >Various</a>                    SXP                 <span id="price-of-swipe"></span>   https://swipe.org
     ApeSafe              <a href="apesafe"       >Various</a>                    APESAFE             <span id="price-of-xxx"></span>   https://apesafe.finance
     Vlad                 <a href="vlad"          >Various</a>                    VLAD                <span id="price-of-vlad-finance"></span>   https://app.vlad.finance
     Zcore                <a href="zcore"         >Various</a>                    ZEFI                <span id="cmc-price-of-zcore-finance"></span>   https://finance.zcore.network
     Blizzard             <a href="blizzard"      >Various</a>                    BLZD                <span id="cmc-price-of-blizzard-money"></span>   https://blizzard.money
     Pineapple            <a href="pineapple"     >Various</a>                    PIN                 <span id="price-of-xxx"></span>   https://www.pineappledefi.com
     Shitz                <a href="shitz"         >SHITZ/BNB LP</a>               WBNB/ACS            <span id="price-of-xxx"></span>   https://shitz.lol
     Biscuit              <a href="biscuit"       >Various</a>                    BCU                 <span id="cmc-price-of-biscuit-farm-finance"></span>   https://biscuitfarm.finance
     Runner               <a href="runner"        >Various</a>                    ENERGY              <span id="price-of-xxx"></span>   https://bscrunner.com
     Pumpy                <a href="pumpy"         >Various</a>                    PMP                 <span id="cmc-price-of-pumpy-farm"></span>   https://pumpy.farm
     Knight               <a href="knight"        >Various</a>                    KNIGHT              <span id="price-of-xxx"></span>   https://www.knightsdefi.com
     Helmet               <a href="helmet"        >Various</a>                    Various             <span id="price-of-helmet-insure"></span>   https://www.helmet.insure
     Pollo                <a href="pofi"          >Various</a>                    POFI                <span id="price-of-xxx"></span>   https://pollo.finance
     Space                <a href="space"         >Various</a>                    SPACE               <span id="cmc-price-of-farm-space"></span>   https://farm.space
     Polis                <a href="polis"         >Various</a>                    POLIS               <span id="price-of-polis"></span>   https://farms.polispay.org
     Royal                <a href="royal"         >Various</a>                    ROYA                <span id="price-of-royale"></span>   https://royalswap.io
     Ducks                <a href="ducks"         >Various</a>                    DUCK                <span id="price-of-xxx"></span>   https://ducks.finance
     Yieldbay             <a href="yieldbay"      >Various</a>                    PALM                <span id="price-of-xxx"></span>   https://yieldbay.finance
     Ellipsis             <a href="ellipsis"      >Various</a>                    EPS                 <span id="price-of-ellipsis"></span>   https://ellipsis.finance
     Iceberg              <a href="iceberg"       >Various</a>                    TIT                 <span id="price-of-xxx"></span>   https://icebergdefi.com
     yBear                <a href="ybear"         >Various</a>                    yBHONEY             <span id="price-of-xxx"></span>   http://farm.ybear.finance
     Absorber             <a href="absorber"      >Various</a>                    ABS                 <span id="price-of-absorber"></span>   https://absorber.finance
     Poopswap             <a href="poop"          >Various</a>                    POOP                <span id="price-of-xxx"></span>   https://poopswap.finance
     Mooncake             <a href="mooncake"      >Various</a>                    MCAKE               <span id="price-of-xxx"></span>   https://mooncakeswap.finance
     Jade                 <a href="jade"          >Various</a>                    JADE                <span id="price-of-jade-currency"></span>   https://jadedefi.com
     Eleven               <a href="eleven"        >Various</a>                    ELE                 <span id="price-of-eleven-finance"></span>   https://eleven.finance
     Yumcha               <a href="yumcha"        >Various</a>                    YUMCHA              <span id="price-of-xxx"></span>   https://yumcha.finance
     Comos                <a href="comos"         >Various</a>                    COMOS               <span id="price-of-xxx"></span>   https://app.comos.finance
     Pokemoon             <a href="pokemoon"      >Various</a>                    KBN                 <span id="price-of-xxx"></span>   https://pokemoon.app
     Octree               <a href="octree"        >Various</a>                    OAK                 <span id="price-of-octree"></span>   https://octree.finance
     Cub                  <a href="cub"           >Various</a>                    CUB                 <span id="cmc-price-of-cub-finance"></span>   https://cubdefi.com
     Popsicle             <a href="popsicle"      >Various</a>                    ICE                 <span id="price-of-popsicle-finance"></span>   https://popsicle.finance
     Muscle               <a href="muscle"        >Various</a>                    MUSCLE              <span id="price-of-xxx"></span>   https://muscle.finance
     Carrotcake           <a href="ccake"         >Various</a>                    cCAKE               <span id="price-of-xxx"></span>   https://carrotcake.fi
     Alchemist            <a href="alchemist"     >Various</a>                    MIST                <span id="price-of-xxx"></span>   https://www.alchemistdefi.com
     Mozart               <a href="mozart"        >Various</a>                    PIANO               <span id="price-of-xxx"></span>   https://mozartfinance.io
     Hawk                 <a href="hawk"          >Various</a>                    HAWK                <span id="price-of-xxx"></span>   https://hawkbsc.net
     Tree                 <a href="tree"          >Various</a>                    SEED                <span id="price-of-xxx"></span>   https://app.treedefi.com
     Voodoo               <a href="voodoo"        >Various</a>                    VOODOO              <span id="price-of-xxx"></span>   https://voodoo.supra.finance
     Biti                 <a href="biti"          >Various</a>                    BITI                <span id="price-of-xxx"></span>   https://www.biti.city
     Panda                <a href="panda"         >Various</a>                    BBOO                <span id="price-of-panda-yield"></span>   https://pandayield.com
     Swirl                <a href="swirl"         >Various</a>                    SWIRL               <span id="price-of-swirl-cash"></span>   https://swirl.cash/mining
     Squirrel             <a href="squirrel"      >Various</a>                    NUTS                <span id="price-of-squirrel-finance"></span>   https://squirrel.finance

*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
    <%- include(`${partials}/scripts`, {scriptname: 'price-by-id'}); %>
  </body>
</html>
