<!DOCTYPE html>
<html lang="en">
  <%- include(`${partials}/head`); -%>
  <body>
    <pre class="container">
<div>
<a href="<%= PP %>/">Home</a> - <a href="<%= PP %>/bsc/">BSC</a> - <a href="<%= PP %>/heco/">HECO</a> - <a href="<%= PP %>/matic/">MATIC</a> - <a href="<%= PP %>/xdai/">xDAI</a> - <a href="<%= PP %>/avax/">AVAX</a> - <a href="<%= PP %>/seigniorage/">Seigniorage</a>
</div>
<div>
<a href="https://www.youtube.com/watch?v=D8RZhK1zcs0" target="_blank">Youtube tutorial!</a> by the excellent <a href="https://twitter.com/gabrielhaines" target="_blank">Gabriel Haines</a>
</div>

************************ BINANCE SMART CHAIN *************************

---Pool Provider---     --------LP--------          --Reward Tokens--    --Price--              --INFO--
     Pancake              <a href="pancake"       >Various</a>                    CAKE                <span id="cmc-price-of-pancakeswap"></span>   https://pancakeswap.finance
     Apeswap              <a href="apeswap"       >Various</a>                    BANANA              <span id="price-of-banana-finance"></span>   https://apeswap.finance
     Autofarm             <a href="autofarm"      >Various</a>                    AUTOFARM            <span id="price-of-auto"></span>   https://autofarm.network
     Rake Finance         <a href="rake-finance"  >Various</a>                    RAK                 <span id="price-of-rake-finance"></span>   https://rake.finance
     Bake                 <a href="bake"          >Various</a>                    BAKE                <span id="price-of-bakerytoken"></span>   https://www.bakeryswap.org
     Brew                 <a href="brew"          >Various</a>                    BREW                <span id="price-of-cafeswap-token"></span>   https://cafeswap.finance
     Donut                <a href="donut"         >Various</a>                    DONUT               <span id="price-of-donut"></span>   https://donutdefi.com
     Pumpkin              <a href="pumpkin"       >Various</a>                    PUMP                <span id="price-of-pump-coin"></span>   https://pumpkindefi.org
     Teamrocket           <a href="teamrocket"    >Various</a>                    MEOWTH              <span id="price-of-meowth"></span>   https://teamrocket.app/farms
     Ramen                <a href="ramen"         >Various</a>                    RAMENSWAP           <span id="price-of-ramenswap"></span>   https://ramenswap.finance
     Rose                 <a href="rose"          >Various</a>                    ROSE                <span id="price-of-oasis-network"></span>   https://oasisprotocol.org/
     Goose                <a href="goose"         >Various</a>                    GOOSE               <span id="price-of-goose-finance"></span>   https://www.goosedefi.com
     Salt                 <a href="salt"          >Various</a>                    SALT                <span id="price-of-saltswap"></span>   https://www.saltswap.finance
     Soup                 <a href="soup"          >Various</a>                    SOUP/SOUPS          <span id="price-of-soup"></span>   https://soups.finance
     Kebab                <a href="kebab"         >Various</a>                    KEBAB               <span id="price-of-kebab-token"></span>   https://kebabfinance.com
     Kimochi              <a href="kimochi"       >Various</a>                    KIMOCHI             <span id="price-of-kimochi-finance"></span>   https://kimochi.finance
     Viking               <a href="viking"        >Various</a>                    VIKING              <span id="price-of-viking-swap"></span>   https://www.vikingswap.finance
     Xoxo                 <a href="xoxo"          >Various</a>                    XOXO                <span id="price-of-xoxo"></span>   https://xoxo.finance
     Nyan                 <a href="nyan"          >Various</a>                    NYAN                <span id="price-of-yieldnyan-token"></span>   https://yieldnyan.com
     bDollar              <a href="bdo/"          >Various</a>                    BDO/sBDO/bBDO       <span id="price-of-bdollar"></span>   https://bdollar.fi
     Beluga               <a href="beluga/"       >Various</a>                    BELUGA              <span id="price-of-belugaswap"></span>   https://belugaprotocol.org
     BoltDollar           <a href="btd/"          >Various</a>                    BTD/BTS/BTB         <span id="price-of-bolt-true-share"></span>   https://boltdollar.finance
     Nya Cash             <a href="nya/"          >Various</a>                    NYAS/NYAC           <span id="price-of-nyas"></span>   https://nya.cash
     YieldScienceLabs     <a href="ysl/"          >Various</a>                    Various             <span id="price-of-yieldlab"></span>   https://yieldlab.science
     Icecream             <a href="icecream"      >Various</a>                    GLTO                <span id="price-of-icecream-swap"></span>   https://icecreamswap.finance
     Mochi                <a href="mochi"         >Various</a>                    MOCHI               <span id="price-of-mochiswap"></span>   https://pool.mochiswap.io
     Oat                  <a href="oat"           >Various</a>                    OAT                 <span id="price-of-oat"></span>   https://oatswap.org
     ValueDefi            <a href="valuedefi"     >Various</a>                    vBSWAP              <span id="price-of-vbswap"></span>   https://bsc.valuedefi.io/#/vfarm
     Taste                <a href="taste"         >Various</a>                    TASTE               <span id="price-of-tastefinance"></span>   https://taste.finance
     MonsterSlayer        <a href="msc"           >Various</a>                    MSS/MSC             <span id="price-of-monster-slayer-cash"></span>   https://monsterslayer.finance
     Kickstart            <a href="kickstart"     >Various</a>                    KICK                <span id="price-of-kickstart"></span>   https://kickstart.finance
     Boba                 <a href="boba"          >Various</a>                    BOBA                <span id="price-of-boba"></span>   https://bobadefi.com
     MidasDollar          <a href="midasdollar"   >Various</a>                    MDS/MDO             <span id="price-of-midas-dollar"></span>   https://midasdollar.fi
     Slime                <a href="slime"         >Various</a>                    SLIME               <span id="price-of-slime-finance"></span>   http://slime.finance
     Lotus                <a href="lotus"         >Various</a>                    LOTUS               <span id="price-of-lotusfinance"></span>   https://lotusfinance.org/farms
     Stakd                <a href="stakd"         >Various</a>                    STAKD               <span id="price-of-stakd-finance"></span>   https://app.stakd.finance
     Glacier              <a href="glacier"       >Various</a>                    ICE                 <span id="price-of-ice"></span>   https://glacierswap.org/farms/
     Alpaca               <a href="alpaca"        >Various</a>                    ALPACA              <span id="price-of-alpaca-finance"></span>   https://app.alpacafinance.org
     UFO Swap             <a href="ufo"           >Various</a>                    UFO                 <span id="price-of-ufo"></span>   https://ufodefi.com
     Mythic               <a href="mythic"        >Various</a>                    MAGIC               <span id="price-of-mythic"></span>   https://www.mythic.finance
     Wault                <a href="wault"         >Various</a>                    WAULT               <span id="price-of-wault-finance"></span>   https://app.wault.finance
     Acryptos             <a href="acryptos"      >Various</a>                    ACS                 <span id="price-of-acryptos"></span>   https://app.acryptos.com
     Sashimi              <a href="sashimi"       >Various</a>                    SASHIMI             <span id="price-of-sashimi"></span>   https://bsc.sashimi.cool
     Beefy                <a href="beefy"         >Various</a>                    BIFI                <span id="price-of-beefy-finance"></span>   https://app.beefy.finance
     Toad Swap            <a href="toad"          >Various</a>                    TOAD                <span id="price-of-toad"></span>   https://toad.farm
     Nut                  <a href="nut"           >Various</a>                    NUT                 <span id="price-of-nutdefi"></span>   https://www.nutdefi.finance/
     Koala                <a href="koala"         >Various</a>                    LYPTUS              <span id="price-of-koaladefi"></span>   https://koaladefi.finance/
     Yoda                 <a href="yoda"          >Various</a>                    YODA                <span id="price-of-yodaswap"></span>   https://yodaswap.finance/
     Duck                 <a href="duck"          >Various</a>                    DUCK                <span id="price-of-duckswap"></span>   https://duckswap.finance/
     Taco                 <a href="taco"          >Various</a>                    TACO                <span id="price-of-taco-finance"></span>   https://taco.finance/
     Teddy                <a href="teddy"         >Various</a>                    TEDDY               <span id="price-of-teddy-bears"></span>   https://teddy.bears.finance/
     Gemz                 <a href="gemz"          >Various</a>                    GEMZ                <span id="price-of-gemz"></span>   https://www.gemz.finance/
     Pyramid              <a href="pyramid"       >Various</a>                    RA                  <span id="price-of-pyramid-swap"></span>   https://pyramidswap.com/
     Jalapenos            <a href="jalapeno"      >Various</a>                    JLP                 <span id="price-of-jalapenos"></span>   https://jalapenos.finance/
     Fed                  <a href="fed"           >Various</a>                    FED                 <span id="price-of-fedswap"></span>   https://fedswap.finance/
     Coral                <a href="coral"         >Various</a>                    CRL                 <span id="cmc-price-of-coralfarm"></span>   https://coralfarm.finance/
     Duck Money           <a href="duckmoney"     >Various</a>                    DUCK                <span id="price-of-duck-money"></span>   https://duck.money/

*** Disclaimer ***

I am in no way affiliated with the above projects, nor do I endorse them. Please do your own research before investing.


-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
| <a href="https://twitter.com/vfat12" target="_blank">Twitter</a> - <a href="https://github.com/vfat-tools/vfat-tools" target="_blank">Github</a> - <a href="https://gitcoin.co/grants/1809/vfattools-yield-farming-calculators" target="_blank">Gitcoin</a> |
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
</pre>
    <%- include(`${partials}/scripts`, {scriptname: 'price-by-id'}); %>
  </body>
</html>
